.random-planet {
    min-height: 20em;
}

.random-planet .planet-img-container {
    display: block;
    position: relative;
    width: 280px;
    height: 280px;
    background-color: #fff;
    padding: 0;
    border-radius: 50px;
    box-shadow: 0 0 10px 5px;
}

.random-planet .planet-img-container::after {
    display: block;
    position: absolute;
    width: inherit;
    height: inherit;
    content: '';
    top: 0;
    left: 0;
    box-shadow: inset 0 0 30px;
    border-radius: inherit;
}

.random-planet .planet-img-container .planet-img {
    border-radius: inherit;
    box-shadow: inset 0 0 20px;
}

.random-planet .media-body h5 {
    font-size: 2em;
}

.random-planet .media-body ul li {
    font-size: 1.5em;
}

@media screen and (max-width: 720px) {
    .random-planet {
        min-height: 15em;
    }
    .random-planet .planet-img {
        width: 200px;
        height: 200px;
    }
    .random-planet .media-body {
        padding-left: 0;
        padding-right: 0;
    }
    .random-planet .media-body h5 {
        font-size: 1.4em;
    }
    
    .random-planet .media-body ul li {
        font-size: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
  }